# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django development server process ID file
*.pid

# Local development settings
local_settings.py

# Database
db.sqlite3
*.sqlite3

# Static files
/staticfiles/

# Media files
/media/

# Log files
/logs/

# Environment variables
.env

